@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

:root { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
html,body,#root { height:100%; }
a { text-decoration: none; }
