@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Optional global resets & utilities --- */
html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
}

:root {
  color-scheme: light;
}
